<section class="mt-5">
 
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">About Us</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Facilisis sed odio
        morbi quis commodo odio. Odio pellentesque diam volutpat commodo sed
        egestas egestas fringilla. Nec sagittis aliquam malesuada bibendum arcu
        vitae elementum curabitur vitae. Metus dictum at tempor commodo
        ullamcorper a lacus vestibulum sed. Feugiat pretium nibh ipsum consequat
        nisl vel pretium. Porta nibh venenatis cras sed felis eget velit
        aliquet. Quisque id diam vel quam elementum pulvinar etiam non quam.
        Cursus metus aliquam eleifend mi in nulla. Mi eget mauris pharetra et
        ultrices. Vulputate dignissim suspendisse in est ante. Consequat mauris
        nunc congue nisi vitae suscipit tellus mauris. Erat pellentesque
        adipiscing commodo elit at imperdiet. Tristique magna sit amet purus
        gravida. Dolor magna eget est lorem ipsum dolor. Massa tempor nec
        feugiat nisl pretium fusce id velit. Ipsum dolor sit amet consectetur
        adipiscing elit ut aliquam purus. <br /><br />

        Tortor dignissim convallis aenean et tortor at. Venenatis tellus in
        metus vulputate eu scelerisque felis. Leo vel orci porta non pulvinar.
        Nunc sed id semper risus in hendrerit. Ut tristique et egestas quis. Non
        enim praesent elementum facilisis leo vel fringilla. Dignissim diam quis
        enim lobortis scelerisque fermentum. Habitant morbi tristique senectus
        et netus. Feugiat nisl pretium fusce id velit ut. Sit amet massa vitae
        tortor. Mauris nunc congue nisi vitae suscipit tellus mauris a diam.
        Integer vitae justo eget magna fermentum iaculis eu. Nibh praesent
        tristique magna sit amet purus gravida. Tellus rutrum tellus
        pellentesque eu tincidunt tortor aliquam. Hac habitasse platea dictumst
        quisque sagittis. Dolor magna eget est lorem ipsum dolor. Auctor urna
        nunc id cursus metus aliquam. <br /><br />

        Purus gravida quis blandit turpis cursus. Iaculis eu non diam phasellus
        vestibulum lorem. Tincidunt lobortis feugiat vivamus at augue eget.
        Varius vel pharetra vel turpis nunc. Phasellus egestas tellus rutrum
        tellus pellentesque. Lacus luctus accumsan tortor posuere ac ut. Neque
        gravida in fermentum et. Morbi enim nunc faucibus a pellentesque sit.
        Viverra mauris in aliquam sem fringilla ut morbi tincidunt. Nibh
        praesent tristique magna sit amet purus gravida quis. Eu volutpat odio
        facilisis mauris.
      </p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme">BACK TO HOME</button>
      </div>
    </div>
  </div>
</section>
