<div class="card shadow-effect">
  <img
    src="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="post-image"
    class=""
  />

  <div class="card-body">
    <div class="d-flex justift-content-start">
      <small class="bg-light text-danger text-center px-2">Design</small>
      <small class="bg-light text-success text-center mx-3 px-2">Featured</small>
      <small class="bg-light text-info text-center px-2">View - 100,356</small>
    </div>

    <h5 class="mt-3">HOW TO START A BLOG PROJECT IN 2023 EDITED NEW CATEGORY</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>

    <small class=" text-warning d-flex justift-content-start bg-none">LAST UPDATED - SEP 20,2022</small>

  </div>
</div>
