<div class="container single-post">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/12993526/pexels-photo-12993526.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class=" img-fluid">
                <div class="card-body">
                    <small class="bg-light px-2 text-danger text-center">Design</small>
                    <small class="bg-light px-2 text-success text-center mx-3">Featured</small>
                    <small class="bg-light px-2 text-info text-center m">View - 100,356</small>
                    <small class="bg-light px-2 text-warning text-center mx-3">LAST UPDATED SEP 20, 2022</small>

                    <h1 class="mt-3 mb-3">HOW TO START A BLOG PROJECT IN 2023 EDITED NEW CATEGORY</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Venenatis cras sed felis eget. Nam aliquam sem et tortor consequat id porta nibh venenatis. Consequat mauris nunc congue nisi vitae. Turpis cursus in hac habitasse platea dictumst quisque. Justo laoreet sit amet cursus sit. Nunc aliquet bibendum enim facilisis. Amet facilisis magna etiam tempor orci. Urna porttitor rhoncus dolor purus non enim praesent. Porta nibh venenatis cras sed felis eget. Ultrices in iaculis nunc sed augue lacus viverra vitae congue. Ac ut consequat semper viverra nam libero. <br><br>

                        Id cursus metus aliquam eleifend mi in nulla posuere sollicitudin. Ullamcorper dignissim cras tincidunt lobortis. Pellentesque massa placerat duis ultricies lacus sed. Scelerisque felis imperdiet proin fermentum leo vel orci porta non. Hendrerit gravida rutrum quisque non tellus orci ac auctor. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Nunc sed augue lacus viverra vitae congue eu. Laoreet suspendisse interdum consectetur libero id faucibus. Ornare arcu dui vivamus arcu felis bibendum ut tristique et. Ac turpis egestas maecenas pharetra convallis. Euismod quis viverra nibh cras pulvinar mattis.<br><br>
                        
                        Molestie a iaculis at erat pellentesque adipiscing commodo. Orci a scelerisque purus semper eget duis at tellus at. Viverra nam libero justo laoreet sit amet. Interdum velit laoreet id donec ultrices tincidunt. Placerat in egestas erat imperdiet sed. Et pharetra pharetra massa massa ultricies mi quis hendrerit. Tincidunt dui ut ornare lectus sit amet est placerat in. Elementum facilisis leo vel fringilla est ullamcorper. Tempor id eu nisl nunc mi ipsum. Habitant morbi tristique senectus et netus.<br><br>
                        
                        Feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Sed adipiscing diam donec adipiscing tristique. Purus gravida quis blandit turpis cursus in hac habitasse. Eget velit aliquet sagittis id consectetur purus ut faucibus pulvinar. Rutrum tellus pellentesque eu tincidunt tortor aliquam. Eget mi proin sed libero enim sed faucibus turpis. Adipiscing elit pellentesque habitant morbi tristique. Vitae auctor eu augue ut lectus arcu bibendum at. Eros in cursus turpis massa tincidunt. Leo a diam sollicitudin tempor id eu. Fringilla phasellus faucibus scelerisque eleifend. Malesuada fames ac turpis egestas integer eget aliquet. Tortor id aliquet lectus proin nibh nisl condimentum id venenatis. Ullamcorper sit amet risus nullam eget felis. Amet tellus cras adipiscing enim eu.</p>
                </div>

            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>

        </div>
    </div>
</div>