<app-header></app-header>
<app-category-navbar></app-category-navbar>

<div class="app-body">
  <router-outlet></router-outlet>
</div>

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <app-subscription-form></app-subscription-form>
  </div>
</div>

<app-footer
  ><div class="">
    <ul class="nav justify-content-center">
      <li class="nav-item"><a href="" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="" class="nav-link">About</a></li>
      <li class="nav-item">
        <a href="" class="nav-link">Terms & Conditions</a>
      </li>
      <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
    </ul>
  </div></app-footer
>
