<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-secondary-theme">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">All Blog Posts</h3>
                    <p>From here you can manage your blog posts.</p>

                    <button routerLink="/dashboard/posts/new" class="btn btn-secondary bg-theme">Add New Post</button>
                    <button routerLink="/dashboard" class="btn  mx-2 btn-warning">Back to Dashboard</button>
                </div>
            </div>
        </div>
    </div>
</div>