<div class="card shadow-effect">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto subs-text">
                non enim praesent elementum facilisis leo vel fringilla est ullamcorper 
            </p>

            <form class="form-inline mb-3 d-flex justify-content-around mt-5" >
                <div class="form-group col-md-4">
                    <input type="text" class="form-control shadow-effect" placeholder="Your Name">
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control shadow-effect" placeholder="Email Address">
                </div>

                <div class="col-md-2 mb-3">
                    <button class="btn btn-info btn-block btn-theme">SUBSCRIBE</button>
                </div>
            </form>
        </div>
    </div>
</div>